<header>
</header>
<section class="container">
    <h1>Grocery List</h1>
    <div id="form">
        <div class="form-inline">
            <input type="text" name="newitem" id="newitem" class="input-large" placeholder="grocery item" />
            <input type="button" name="addnew" id="addnew" value="Add" class="btn btn-primary" />
        </div>
    </div>
    <div id="list">
        <ul id="grocerylist"></ul>
    </div>

    <div id="cleardeleted"><a href="javascript:void(0);">clear completed items</a></div>
</section>
<script type="text/x-handlebars-template" id="grocery-template">
    {{#results}}
        <div class="section">
        {{#if section}}
        <div class="sectionname">{{section}}</div>
        {{else}}
        <div class="sectionname">Uncategorized</div>
        {{/if}}
	{{#items}}
        <li>
            <div class="itemview{{#if done}} done{{/if}}"><input type="checkbox" class="itemchecked" {{#if done}}checked{{/if}} /> {{item}}</div>
            <div class="itemedit hidden">
                <input type="hidden" class="itemid" value="{{id}}" />
                <input type="text" class="input-medium changeitem" value="{{item}}" />
                <input type="text" class="input-small changesection" value="{{section}}" />
                <input type="button" value="Save" class="itemupdate btn btn-primary" />
            </div>
        </li>
        {{/items}}
        </div>
    {{/results}}
</script>
